# API configuration
APP_HOST=0.0.0.0
APP_PORT=8000
AUTH_TOKEN=smart-campus-secret-token
SERVICE_NAME=core-business
SERVICE_VERSION=0.5.0
ENV=local

# Database configuration
POSTGRES_USER=lab05
POSTGRES_PASSWORD=lab05pass
POSTGRES_DB=iotdb

# Integration endpoints (Radmin VPN IP or Localhost mock)
NOTIFICATION_SERVICE_URL=http://localhost:8080
VISION_SERVICE_URL=http://localhost:9000/api/v1/vision/detect
AI_SERVICE_URL=http://localhost:9000/api/v1/vision/detect

# MQTT Broker configuration
MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=